[Unit]
Description=Topo42 Agent
After=network-online.target babeld.service
Wants=network-online.target

[Service]
ExecStart=/usr/bin/topo42-agent --babel-address [::1]:33123 ws://127.0.0.1:8000 dn42_cn01 change-me
Restart=on-failure
DynamicUser=yes
NoNewPrivileges=yes
ProtectSystem=strict
ProtectHome=yes

[Install]
WantedBy=multi-user.target
